div.carousel-item img {
    border: 3px solid black;
    width: 700px;
    height: 550px;
}

div.carousel{
    width: 100% !important;
}

div#loader {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.loader {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

span.click-btn {
    color: #f9eded;
    font-size: 20px;
    font-weight: bold;
    background: #1111d6;
    padding: 10px;
    border-radius: 20px;
    z-index: 100000000;
}